<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>

  <appSettings>

    

    <!--Partner-->
    <add key="BaseUrl" value="https://api.xero.com"/>
    <add key="PartnerBaseUrl" value="https://api-partner.network.xero.com"/>
    <add key="ConsumerKey" value="RTHLRW7UAR6PW7010FEFJGFYVFVL0X"/>
    <add key="ConsumerSecret" value="OGSM7YIRS5JVUUSOGR3BLWN55ZOTXD"/>
    <add key="CallbackUrl" value="localhost"/>

    <add key="SigningCertificate" value="C:\Stuff\certs\public_privatekey.pfx"/>
    <add key="PartnerCertificate" value="C:\Users\david.norden\Desktop\Certs\rq_entrust_2015.p12"/>
    <add key="PartnerCertificatePassword" value="1234"/>


    <!--Private-->
    <!--<add key="BaseUrl" value="https://api.xero.com"/>
    <add key="ConsumerKey" value="5TQMRHW60Q9WBWKIHPU1HMYCXZZCNO"/>
    <add key="ConsumerSecret" value="E0QVV7FNDA4ADZZWPFWHNHZDCLED58"/>
    <add key="SigningCertificate" value="C:\Stuff\certs\public_privatekey.pfx"/>-->



    <!--Public-->
    <!--<add key="BaseUrl" value="https://api-partner.network.xero.com"/>
    <add key="PartnerBaseUrl" value="https://api.xero.com"/>
    <add key="ConsumerKey" value="IUHAJOYCKPMY2KHBRPKH636MHUK6GH"/>
    <add key="ConsumerSecret" value="ITMXW3QX45QBUPERCMUDN8Y8WILRHB"/>
    <add key="CallbackUrl" value="localhost"/>

    <add key="SigningCertificate" value="C:\Stuff\certs\public_privatekey.pfx"/>
    <add key="PartnerCertificate" value="C:\Users\david.norden\Desktop\Certs\Partner.p12"/>
    <add key="PartnerCertificatePassword" value="123"/>-->



  </appSettings>
</configuration>