<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <appSettings>
    <!--Partner-->
    <add key="BaseUrl" value="https://api.xero.com"/>
    <add key="PartnerBaseUrl" value="https://api-partner.network.xero.com"/>
    <add key="ConsumerKey" value="9SCC6RMWP4SLLRLPAT3YYK9WA3CW1B"/>
    <add key="ConsumerSecret" value="P1ZUF5EZHZXUX8F610BBQMSKFCLIPJ"/>


<!--Private-->
    <!--<add key="PartnerBaseUrl" value="https://api-partner.network.xero.com"/>
    <add key="ConsumerKey" value="RTHLRW7UAR6PW7010FEFJGFYVFVL0X"/>
    <add key="ConsumerSecret" value="OGSM7YIRS5JVUUSOGR3BLWN55ZOTXD"/>-->



<!--Public-->
    <!--<add key="BaseUrl" value="https://api.xero.com"/>
    <add key="PartnerBaseUrl" value="https://api-partner.network.xero.com"/>
    <add key="ConsumerKey" value="IUHAJOYCKPMY2KHBRPKH636MHUK6GH"/>
    <add key="ConsumerSecret" value="ITMXW3QX45QBUPERCMUDN8Y8WILRHB"/>-->


    <add key="CallbackUrl" value="localhost"/>
    <add key="SigningCertificate" value="C:\Stuff\certs\public_privatekey.pfx"/>
    <add key="PartnerCertificate" value="C:\Users\david.norden\Desktop\Certs\AU_Partner.p12"/>
    <add key="PartnerCertificatePassword" value="123"/>
  </appSettings>
  
</configuration>